---
import HeroSection from './HeroSection.astro';
import ServicesSection from './ServicesSection.astro';
import SocialSection from './SocialSection.astro';
---

<main>
	<HeroSection />
	<ServicesSection />
	<SocialSection />
</main>

<style>
	main {
		margin: 0;
		padding: 0;
	}
</style>